<section
  class="form-content tab {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}"
>
  <h4>
    <i class="fas fa-user"></i> {{localize "CRLNGN_UI.ui.worldSettingsLabel"}} <span class="toggle-hint">{{localize 'CRLNGN_UI.ui.toggleHints'}}</span>
  </h4>
  <hr/>

  <p class="hint">{{localize "CRLNGN_UI.settings.playersListMenu.hint"}}</p>

  {{#unless isGM}}
    <div class="form-group">
      <label for="applyThemeToSheets">{{fields.applyThemeToSheets.label}}</label>
      <input type="checkbox" name="applyThemeToSheets" {{#if applyThemeToSheets}}checked{{/if}} />
      <p class="hint">{{fields.applyThemeToSheets.hint}}</p> 
    </div>
  {{/unless}}
  <p>&nbsp;</p>

  <h4>
    <i class="fas fa-user"></i> {{localize "CRLNGN_UI.ui.clientSettingsLabel"}}
  </h4>
  <hr/>
  <div class="form-group">
    <label for="useHorizontalSheetTabs">{{fields.useHorizontalSheetTabs.label}}</label>
    <input type="checkbox" name="useHorizontalSheetTabs" {{#if useHorizontalSheetTabs}}checked{{/if}} />
    <p class="hint">{{fields.useHorizontalSheetTabs.hint}}</p>
  </div>
</section>