<section
  class="form-content tab {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}"
>
  <h4>
    <i class="fas fa-user"></i> {{localize "CRLNGN_UI.ui.clientSettingsLabel"}} <span class="toggle-hint">{{localize 'CRLNGN_UI.ui.toggleHints'}}</span>
  </h4>
  <hr/>

  <div class="form-group">
    <label for="autoHidePlayerList">{{fields.autoHidePlayerList.label}}</label>
    <input type="checkbox" name="autoHidePlayerList" {{#if autoHidePlayerList}}checked{{/if}} />
    <p class="hint">{{fields.autoHidePlayerList.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="playerListAvatars">{{fields.playerListAvatars.label}}</label>
    <input type="checkbox" name="playerListAvatars" {{#if playerListAvatars}}checked{{/if}} />
    <p class="hint">{{fields.playerListAvatars.hint}}</p>
  </div>
</section>