<a id="crlngn-scene-navigation-expand" 
   class="ui-control" 
   data-action="toggleExpand" 
   data-tooltip="{{#if isExpanded}}SCENE_NAVIGATION.COLLAPSE{{else}}SCENE_NAVIGATION.EXPAND{{/if}}" 
   aria-label="{{#if isExpanded}}{{localize 'SCENE_NAVIGATION.COLLAPSE'}}{{else}}{{localize 'SCENE_NAVIGATION.EXPAND'}}{{/if}}"
   style="flex">
  <i class="fa-solid {{#if isExpanded}}fa-caret-up{{else}}fa-caret-down{{/if}}" inert></i>
</a>