<section
  class="form-content tab {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}"
>
  <h4>
      <i class="fas fa-user"></i> {{localize "CRLNGN_UI.ui.clientSettingsLabel"}}
      <span class="toggle-hint">{{localize 'CRLNGN_UI.ui.toggleHints'}}</span>
  </h4>
  <hr/>
   <div class="form-group">
    <label for="playerColorTheme">{{fields.playerColorTheme.label}}</label>
    <div class="custom-color-section">
      <div class="custom-color-preview">
        <span class="accent-swatch color-swatch" style="background-color:{{playerCustomColors.accent}}" data-tooltip="Accent" data-tooltip-direction="UP"></span>
        <span class="secondary-swatch color-swatch" style="background-color:{{playerCustomColors.secondaryDark}}" data-tooltip="Secondary Dark" data-tooltip-direction="UP"></span>
        <span class="secondary-swatch color-swatch" style="background-color:{{playerCustomColors.secondaryLight}}" data-tooltip="Secondary Light" data-tooltip-direction="UP"></span>
      </div>
      <button type="button" class="open-color-picker" data-scope="player">
        <i class="fas fa-palette"></i> {{localize "CRLNGN_UI.settings.themeAndStylesMenu.fields.customizeColors"}}
      </button>
    </div>
    <p class="hint">{{localize "CRLNGN_UI.settings.themeAndStylesMenu.fields.customizeHint"}}</p>
  </div>
  <div class="form-group">
      <label for="useHorizontalSheetTabs">{{fields.useHorizontalSheetTabs.label}}</label>
      <input type="checkbox" name="useHorizontalSheetTabs" {{#if useHorizontalSheetTabs}}checked{{/if}} />
      <p class="hint">{{fields.useHorizontalSheetTabs.hint}}</p>
  </div>

  {{#if isGM}}
  <h4><i class="fas fa-globe"></i> {{localize "CRLNGN_UI.ui.worldSettingsLabel"}}</h4>
  <hr/>
  <div class="form-group">
    <label for="colorTheme">{{fields.colorTheme.label}}</label>
    <div class="custom-color-section">
      <div class="custom-color-preview">
        <span class="accent-swatch color-swatch" style="background-color:{{customColors.accent}}" data-tooltip="Accent" data-tooltip-direction="UP"></span>
        <span class="secondary-swatch color-swatch" style="background-color:{{customColors.secondaryDark}}" data-tooltip="Secondary Dark" data-tooltip-direction="UP"></span>
        <span class="secondary-swatch color-swatch" style="background-color:{{customColors.secondaryLight}}" data-tooltip="Secondary Light" data-tooltip-direction="UP"></span>
      </div>
      <button type="button" class="open-color-picker" data-scope="world">
        <i class="fas fa-palette"></i> {{localize "CRLNGN_UI.settings.themeAndStylesMenu.fields.customizeColors"}}
      </button>
    </div>
    <p class="hint">{{localize "CRLNGN_UI.settings.themeAndStylesMenu.fields.customizeHint"}}</p>
  </div>
  
  <div class="form-group">
    <label for="otherModulesList">{{fields.otherModulesList.label}}</label>
    <input type="checkbox" class="adjustOtherModules" name="adjustOtherModules" {{#if adjustOtherModules}}checked{{/if}} />
    <input type="hidden" class="otherModulesList" name="otherModulesList" value="{{{otherModulesList}}}" />
    <p class="hint">{{{fields.otherModulesList.hint}}}</p> 
    <ul class="multiple-select other-modules">
      {{#each fields.otherModulesList.options}}
      <li>
        <label><input type="checkbox" value={{this}} {{#if (normalizedIncludes ../otherModulesList this)}}checked{{/if}} />{{@key}}</label>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="form-group">
    <label for="applyThemeToSheets">{{fields.applyThemeToSheets.label}}</label>
    <input type="checkbox" name="applyThemeToSheets" {{#if applyThemeToSheets}}checked{{/if}} />
    <p class="hint">{{fields.applyThemeToSheets.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="applyDarkThemeToModules">{{fields.applyDarkThemeToModules.label}}</label>
    <input type="checkbox" name="applyDarkThemeToModules" {{#if applyDarkThemeToModules}}checked{{/if}} />
    <p class="hint">{{fields.applyDarkThemeToModules.hint}}</p>
  </div>

  <div class="form-group">
    {{!-- <label for="forcedDarkTheme">{{fields.forcedDarkTheme.label}}</label> --}}
    <p class="hint on">{{fields.forcedDarkTheme.hint}}</p>
    <div class="code-editor-wrapper">
      <textarea name="forcedDarkTheme" class="code-editor" 
      rows="2" cols="40" wrap="on" placeholder="#module-id, .module-class" 
      spellcheck="false">{{{forcedDarkTheme}}}</textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="customStyles">{{fields.customStyles.label}}</label>
    <div class="code-editor-wrapper">
      <textarea name="customStyles" class="code-editor" 
      rows="6" cols="80" wrap="off" placeholder="Write your code here..." 
      spellcheck="false">{{{customStyles}}}</textarea>
    </div>
    <p class="hint">{{fields.customStyles.hint}}</p>
  </div>
  {{/if}}
</section>