<div class="brancalonia-infamia-template">
  {{#if title}}
    <h2>{{title}}</h2>
  {{else}}
    <h2>Infamia</h2>
  {{/if}}
  {{#if value}}
    <p class="infamia-value">{{value}} / 100</p>
  {{/if}}
  {{#if level}}
    <p class="infamia-level">{{level}}</p>
  {{/if}}
  {{#if effects}}
    <ul class="infamia-effects">
      {{#each effects}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if description}}
    <div class="infamia-description">{{{description}}}</div>
  {{/if}}
</div>
